<h1>HOME</h1>

<div class="product">
    {{#each productos}}
        <div class="card">
            <img src="{{this.img}}" alt="{{this.title}}" class="card-image">
            <div class="card-content">
                <h2>{{this.title}}</h2>
                <p class="description">{{this.description}}</p>
                <p class="price">${{this.price}}</p>
            </div>
        </div>
    {{/each}}
</div>
